.tracking-container {
  /* width: 320px; */
  background: #ffffff;
 padding-top: 5px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
   font-family: 'Lato-Bold';
   color:rgba(35, 39, 46, 1)
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: block;
  font-size: 13px;
  font-family:  'Lato-SemiBold';
  margin-bottom: 6px;
  color:rgba(2, 51, 55, 1)
}

.form-group input {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: 1px solid rgba(229, 231, 235, 1);
  background-color: rgba(249, 250, 251, 1);
  padding: 0 12px;
  font-size: 14px;
  outline: none;
}

.form-group input.ng-invalid.ng-touched {
  border-color: #ef4444;
}

.error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #ef4444;
}

.btn-add {
  width: 100%;
  height: 34px;
  background: linear-gradient(to right, #000, #222);
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
