.add-offer-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    /* max-width: 700px; */
}

.title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: 'Lato-Bold';
    color: rgba(35, 39, 46, 1)
}

label {
    display: block;
    font-size: 12px;
    font-family: 'Lato-SemiBold';
    margin-bottom: 3px;
    color: rgba(2, 51, 55, 1)
}

.form-control {
    /* border-radius: 8px;
    height: 42px; */

    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid rgba(229, 231, 235, 1);
    background-color: rgba(249, 250, 251, 1);
    padding: 0 12px;
    font-size: 14px;
    outline: none;
}

.image-upload {
    background: #e0e0e0;
    height: 160px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-upload span {
    font-size: 40px;
    color: #888;
}

.image-upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    min-width: 120px;
    height: 40px;
    border-radius: 8px;
}

.btn.cancel {
    border: 1px solid #000;
    background: #fff;
}

.btn.add {
    background: #000;
    color: #fff;
}
.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px; /* space for arrow */
  background-color:rgba(249, 250, 251, 1)
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  width: 0;
  height: 0;
  pointer-events: none;
  transform: translateY(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
