<div class="tracking-container">
    <h3 class="title">Change Password</h3>

    <!-- Current Password -->
    <div class="form-group password-group">
        <label>Current Password</label>

        <div class="password-wrapper">
            <input [type]="showCurrentPwd ? 'text' : 'password'" [(ngModel)]="currentPassword" name="currentPassword"
                #currentPwd="ngModel" required minlength="6" maxlength="10" placeholder="Enter current password" />

            <!-- Eye Icon -->
            <span class="eye-icon" (click)="toggleCurrentPwd()" [class.error-eye]="submitted && currentPwd.invalid">

                <img *ngIf="!showCurrentPwd" src="../../../assets/eye-closed.png" alt="Show password">

                <img *ngIf="showCurrentPwd" src="../../../assets/eye-open.png" alt="Hide password">
            </span>
        </div>

        <!-- Errors -->
        <span class="error" *ngIf="submitted && currentPwd.errors?.['required']">
            Current password is required
        </span>

        <span class="error" *ngIf="submitted && currentPwd.errors?.['minlength']">
            Password must be at least 6 characters
        </span>
    </div>


    <!-- New Password -->
    <div class="form-group password-group">
        <label>New Password</label>

        <div class="password-wrapper">
            <input [type]="showNewPwd ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword"
                #newPwd="ngModel" required minlength="6" placeholder="Enter new password"  maxlength="10"/>

            <span class="eye-icon" (click)="showNewPwd = !showNewPwd" [class.error-eye]="submitted && newPwd.invalid">

                <img *ngIf="!showNewPwd" src="../../../assets/eye-closed.png">
                <img *ngIf="showNewPwd" src="../../../assets/eye-open.png">
            </span>
        </div>

        <span class="error" *ngIf="submitted && newPwd.errors?.['required']">
            New password is required
        </span>

        <span class="error" *ngIf="submitted && newPwd.errors?.['minlength']">
            Password must be at least 6 characters
        </span>
    </div>

    <!-- Re-enter Password -->
    <div class="form-group password-group">
        <label>Re-enter Password</label>

        <div class="password-wrapper">
            <!-- <input [type]="showConfirmPwd ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword"
                #confirmPwd="ngModel" required placeholder="Re-enter new password" /> -->

            <input [type]="showConfirmPwd ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword"
                #confirmPwd="ngModel" required placeholder="Re-enter new password" maxlength="10"
                (ngModelChange)="checkPasswordMatch()" />


            <span class="eye-icon" (click)="showConfirmPwd = !showConfirmPwd"
                [class.error-eye]="submitted && confirmPwd.invalid">

                <img *ngIf="!showConfirmPwd" src="../../../assets/eye-closed.png">
                <img *ngIf="showConfirmPwd" src="../../../assets/eye-open.png">
            </span>
        </div>

        <span class="error" *ngIf="submitted && confirmPwd.errors?.['required']">
            Please confirm your password
        </span>

        <span class="error" *ngIf="submitted && passwordMismatch">
            Passwords do not match
        </span>
    </div>


    <button class="btn-add" (click)="saveChange()">
        Save Change
    </button>
</div>