<app-header></app-header>

<div class="container-fluid bgpad" *ngIf="!IsDetailPage">
    <div class="row">
        <div class="products-container">
            <div class="products-header">
                <h1>Order List</h1>
            </div>

            <div class="statistics-section">
                <div class="stat-card" *ngFor="let stat of statistics">
                    <div class="stat-title">
                        {{ stat.title }}
                    </div>
                    <div class="stat-main-row">
                        <div class="stat-left">
                            <div class="stat-amount">{{ stat.amount }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subcategory-section">
                <div class="category-section">
                    <div class="subcategory-tabs">
                        <button *ngFor="let tab of tabs" [class.active]="activeTab === tab" (click)="setActiveTab(tab)"
                            class="subcategory-tab">
                            {{ tab }}
                        </button>
                    </div>
                    <div class="right-actions">
                        <div class="search-section">
                            <input type="text" placeholder="Search your product" [(ngModel)]="searchTerm"
                                (ngModelChange)="onSearchChange($event)" class="search-input">
                            <div class="search-icon">
                                <img src="../../../assets/Icon-3.png">
                            </div>
                        </div>

                        <span class="sort-icon" (click)="ChangeSort()">
                            <img [src]="sortType === 'Ascending' ? '../../../assets/sort1.png' : '../../../assets/sort2.png'"
                                alt="sort" />
                        </span>

                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="table-scroll-container">
                        <table class="products-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Order Id</th>
                                    <th>Product</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of Mainproducts; let i = index" (click)="DisplayOrderDetails(item)"
                                    style="cursor: pointer;">
                                    <td>{{ ((pagination.currentPage - 1) * pagination.pageSize) + i + 1 }}</td>

                                    <td>{{ item.orderId }}</td>
                                    <td>
                                        <div class="product-cell">
                                            <span class="product-image">

                                                <img *ngIf="item.productImage" [src]="item.productImage"
                                                    class="product-img" alt="product" />
                                            </span>
                                            <span>{{ item.productName }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        {{ item.orderTime | date: 'dd.MM.yyyy' }} <br />
                                        {{ item.orderTime | date: 'HH:mm' }}
                                    </td>
                                    <td>₹{{ item.price }}</td>

                                    <td>
                                        <!-- SHIPPED (highest priority) -->
                                        <span class="status shipped" *ngIf="item.status === 'shipped'"
                                            style="color: rgba(17, 24, 39, 1)">
                                            <img src="../../../assets/shippd.png"> Shipped
                                            <div class="tracking-info">
                                                <small>
                                                    Tracking ID: <b>{{ item.trackingdt?.trackingID }}</b>
                                                </small>
                                            </div>
                                        </span>

                                        <!-- DELIVERED -->
                                        <span class="status delivered" *ngIf="item.status === 'delivered'"
                                            style="color: rgba(33, 196, 93, 1)">
                                            <img src="../../../assets/delivrd.png"> Delivered
                                        </span>

                                        <!-- PENDING -->
                                        <span class="status pending" *ngIf="item.status === 'pending'"
                                            style="color: rgba(245, 159, 10, 1)">
                                            <img src="../../../assets/pending.png"> Pending
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <div *ngIf="products.length === 0" class="no-products">
                            <p>No products found</p>
                        </div>
                    </div>
                </div>

                <div class="pagination-section" style="padding-top: 4px;">
                    <button class="pagination-btn prev-btn" [disabled]="pagination.currentPage === 1"
                        (click)="previousPage()">
                        ← Previous
                    </button>

                    <div class="page-numbers">
                        <button *ngFor="let pageNum of getPageNumbers()" [class.active]="isPageActive(pageNum)"
                            class="page-btn" (click)="goToPage(pageNum)">
                            {{ pageNum }}
                        </button>

                        <span class="page-dots"
                            *ngIf="getPageNumbers()[getPageNumbers().length - 1] < pagination.totalPages">
                            ....
                        </span>

                        <button *ngIf="getPageNumbers()[getPageNumbers().length - 1] < pagination.totalPages"
                            class="page-btn" (click)="goToPage(pagination.totalPages)">
                            {{ pagination.totalPages }}
                        </button>
                    </div>

                    <button class="pagination-btn next-btn"
                        [disabled]="pagination.currentPage === pagination.totalPages" (click)="nextPage()">
                        Next →
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Detail Page -->
<div class="container-fluid bgpad" *ngIf="IsDetailPage">
    <div class="row">
        <div class="products-container">
            <header class="page-header">
                <h1>Orders Details</h1>
                <div class="header-row">
                    <div class="breadcrumb">
                        <span>Home</span>
                        <span class="separator">></span>
                        <span (click)="backtoorders()" style="cursor: pointer;">Order List</span>
                        <span class="separator">></span>
                        <span class="active">Order Details</span>
                    </div>
                    <button class="btn-shipped" (click)="handleOrderAction()">
                        {{ orderData.status === 'Pending' ? 'Mark as Shipped' : 'Mark as Delivered' }}
                    </button>

                </div>
            </header>

            <div class="subcategory-section">
                <div class="order-header">
                    <div class="order-id-section">
                        <h2>Orders ID: {{ orderData.orderId }}</h2>
                        <span class="status-badge" [class.pending]="orderData.status === 'Pending'"
                            [class.shipped]="orderData.status === 'Shipped'">
                            {{ orderData.status }}
                        </span>
                    </div>

                </div>
                <div class="info-cards">
                    <div class="info-card">
                        <div class="card-header">
                            <img src="../../../assets/custm.png" width="30px">

                            <h3>Customer</h3>
                        </div>
                        <div class="card-content">
                            <p class="label">Full Name: <span class="value">{{ orderData.customer.fullName
                                    }}</span><br />
                                Email: <span class="value">{{ orderData.customer.email }}</span><br />
                                Phone: <span class="value">{{ orderData.customer.phone }}</span>

                            </p>
                        </div>
                    </div>


                    <div class="info-card">
                        <div class="card-header">
                            <img src="../../../assets/delivr.png" width="30px">
                            <h3>Deliver to</h3>
                        </div>
                        <div class="card-content">
                            <p class="label">Address: <span class="value">{{ orderData.deliveryAddress.address
                                    }}</span><br />
                                <span class="value">{{ orderData.deliveryAddress.city }}</span><br />
                                <span class="value">{{ orderData.deliveryAddress.state }}</span>
                            </p>
                        </div>
                    </div>


                    <div class="info-card">
                        <div class="card-header">
                            <img src="../../../assets/paymt.png" width="30px">
                            <h3>Payment Info</h3>
                        </div>
                        <div class="card-content">
                            <p class="payment-detail">Business name: {{ orderData.payment.businessName }}
                                <br />
                                Phone: {{ orderData.payment.phone }}
                            </p>
                        </div>
                    </div>
                    <div class="info-card" *ngIf="orderData.status === 'Shipped'">
                        <div class="card-header">
                            <h3>Shipment info</h3>
                        </div>
                        <div class="card-content2">
                            <p class="payment-detail" style="color:rgba(2, 51, 55, 1)">Courier service Name :
                                <span style="color:black">{{ orderData.orderInfo.corname }}</span>
                                <br />
                                Shipping Date : <span>{{ orderData.orderInfo.shipdt }}</span>
                                <br />
                                Tracking ID : <span>{{ orderData.orderInfo.trackid }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="products-container">
            <div class="products-section">
                <div class="section-header">
                    <h3>Products</h3>

                </div>

                <div class="products-table">
                    <div class="table-header" style="  color: #aca5a5;
    font-family: 'Rubik-SemiBold';
    font-size: 12px;">
                        <div class="col-product">Product Name</div>
                        <div class="col-order-id">Order ID</div>
                        <div class="col-quantity">Quantity</div>
                        <div class="col-total">Total</div>
                    </div>

                    <div class="table-body" style=" color:rgba(0, 0, 0, 1);">
                        <div class="table-row" *ngFor="let product of orderData.products">
                            <div class="col-product">
                                <img [src]="product.image" class="product-image" />
                                <span>{{ product.name }}</span>
                            </div>
                            <div class="col-order-id">{{ product.orderId }}</div>
                            <div class="col-quantity">{{ product.quantity }}</div>
                            <div class="col-total">₹{{ product.total.toFixed(2) }}</div>
                        </div>

                    </div>
                    <div class="table-summary">
                        <div class="summary-row">
                            <div></div>
                            <div></div>
                            <div class="summary-label">Subtotal</div>
                            <div class="summary-value">₹{{ orderData.subtotal.toFixed(2) }}</div>
                        </div>

                        <div class="summary-row">
                            <div></div>
                            <div></div>
                            <div class="summary-label">Tax ({{ getTaxPercentage() }}%)</div>
                            <div class="summary-value">₹{{ orderData.tax.toFixed(2) }}</div>
                        </div>

                        <div class="summary-row">
                            <div></div>
                            <div></div>
                            <div class="summary-label">Discount</div>
                            <div class="summary-value">₹{{ orderData.discount }}</div>
                        </div>

                        <div class="summary-row">
                            <div></div>
                            <div></div>
                            <div class="summary-label">Shipping Rate</div>
                            <div class="summary-value">₹{{ orderData.shippingRate }}</div>
                        </div>

                        <div class="summary-row total-row">
                            <div></div>
                            <div></div>
                            <div class="summary-label">Total</div>
                            <div class="summary-value">₹{{ orderData.total.toFixed(2) }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>