<app-header></app-header>

<div class="container-fluid category-page">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="title">Categories</h4>

    </div>

    <!-- CATEGORY TABS -->
    <div class="d-flex justify-content-between align-items-center category-header mb-4">

        <!-- CATEGORY TABS -->
        <div class="category-tabs">
            <button *ngFor="let category of categories" class="tab-btn"
                [class.active]="selectedCategory?.id === category.id" (click)="selectCategory(category)">
                <span class="category-name">{{ category.name }}</span>
            </button>
        </div>

        <button class="add-product-btn" (click)="AddNewCategory()">
            <span class="plus-icon">
                <img src="../../../assets/add-square-04.png">
            </span>
            Add Category
        </button>

    </div>

    <!-- SUB CATEGORY CARD -->
    <div class="card subcategory-card col-md-12">
        <div class="card-body">
            <h6 class="hrtag">Add Subcategory</h6>
            <div class="add-subcategory d-flex mb-4 col-md-6">
                <input type="text" class="form-control" placeholder="Enter subcategory name"
                    style="background-color: rgba(249, 250, 251, 1);" [(ngModel)]="newSubcategory" />
                <button class="add-btn" (click)="addSubcategory()">
                    <img src="../../../assets/black_add.png">
                </button>
            </div>

            <!-- SUBCATEGORY LIST -->
            <div class="table-wrapper">
                <div class="table-scroll-container">
                    <div class="row gx-3">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3"
                            *ngFor="let sub of subcategories; let i = index">

                            <div class="subcategory-item d-flex align-items-center">
                                <span class="subcategory-text" title="{{ sub.name }}">
                                    {{ sub.name }}
                                </span>

                                <div class="actions ms-auto">
                                    <img src="../../../assets/editimg.png" (click)="editSubcategory(sub)"
                                        class="action-icon">

                                    <img src="../../../assets/deleteimg.png" (click)="deleteSubcategory(sub)"
                                        class="action-icon">
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>

</div>